/* Light Mode Styles */
body.light {
  background-color: #fff;
  color: #000;
}

button.theme-toggle {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
}

button.theme-toggle:hover {
  background-color: #45a049;
}

/* Dark Mode Styles */
body.dark {
  background-color: #333;
  color: #fff;
}

button.theme-toggle {
  background-color: #444;
}

button.theme-toggle:hover {
  background-color: #555;
}
